link to dataset: https://www.kaggle.com/vmalyi/run-or-walk

In [1]:
import numpy as np
import pandas as pd
import gc

In [2]:
dataset = pd.read_csv('../datasets/run-or-walk.csv', parse_dates=True)

In [3]:
dataset.head()

,date,time,username,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,viktor,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,viktor,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,viktor,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,viktor,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,viktor,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922

In [17]:
gc.collect()

6444

In [5]:
dataset = dataset.drop(['username', 'wrist'], axis=1)

In [6]:
dataset.head()

,date,time,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922

In [7]:
dataset['activity'].value_counts()

1    44365
0    44223
Name: activity, dtype: int64

In [28]:
from sklearn.model_selection import train_test_split, cross_val_score

In [9]:
X = dataset.drop(['date', 'time', 'activity'], axis = 1)
y = dataset['activity']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [67]:
# clf = LogisticRegression(penalty='l1', n_jobs=-1)
# clf = DecisionTreeClassifier()
clf = RandomForestClassifier(n_estimators=200, n_jobs=-1, criterion='entropy')

In [68]:
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=200, n_jobs=-1, oob_score=False,
            random_state=None, verbose=0, warm_start=False)

In [69]:
clf.predict(X_test)

array([1, 1, 1, ..., 0, 0, 1])

In [70]:
clf.score(X_test, y_test)

0.99168804515135967

In [71]:
clf.feature_importances_

array([ 0.15096232,  0.45942012,  0.26289743,  0.03780971,  0.01713712,
        0.0717733 ])

In [72]:
score_dt = cross_val_score(clf, X_train, y_train, cv=5)

In [73]:
score_dt.mean()

0.9893686545989413

In [74]:
gc.collect()

964